/* global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

@font-face {
    font-family: "steelworks";
    src: url(fonts/steelworks_vintage_demo-webfont.woff2) format("woff2"),
         url(fonts/steelworks_vintage_demo-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

a:hover {
  color: #1c7eea;
}

/* bio */

#header {
  background: black;
  padding-top: 2em;
  color: white;
}

.site-logo-name {
  margin: 0;
  padding: 0;
  font-size: 2.9em;
  font-family: "steelworks", serif;
  font-weight: normal;
  color: #ece024;
  text-align: center;
}

.site-logo-role {
  margin: 0;
  padding-top: .25em;
  font-size: 1.15em;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
  display: block;
  font-weight: normal;
}

.welcome-message {
  text-transform: lowercase;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  display: block;
  margin: 2em 0;
}

#skills-h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  color: #ece024;
  font-weight: normal;
  margin: 2em 0 0 0;
  padding: 0;
}

#skills {
  padding: 0;
  margin: 0
}

#skills li {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.17em;
  color: white;
  text-align:center;
  list-style-type: none;
  padding: .25em;
}

#topContacts, #footerContacts {
  background: #ece024;
  padding: 1em 0 245px 0; /* Add padding on bottom for biopic */
  margin: 1em 0 0 0;
}

#footerContacts {
  padding-bottom: 1em;
  margin-top: 0;
}

#topContacts li, #footerContacts li {
  list-style-type: none;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  width: 17em;
  margin: 0 auto;
  position: relative;
  padding: .5em;
  border-bottom: 1px solid black;
}

#topContacts li:last-child, #footerContacts li:last-child {
  border-bottom: none;
}

#topContacts .white-text, #footerContacts .white-text {
  left: 5em;
  position: absolute;
}

.biopic {
  display: block;
  margin: -245px auto 0 auto;
}

/* entries */


h2 {
  font-family: "steelworks", serif;
  font-size: 3em;
  margin: .5em 0 .5em .25em  ;
}

.date-text, .location-text {
  font-family: "Roboto Condensed", sans-serif;
}

.work-entry, .project-entry, .education-entry {
  border-bottom: 1px solid #ddd;
  padding: 16px;
}

.work-entry:last-child, .project-entry:last-child, .education-entry:last-child {
  border-bottom: none;
}

.work-entry a, .project-entry a, .education-entry a {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.work-entry p, .project-entry p, .education-entry p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  padding: 0;
  margin: .25em 0 0 0;
}

.project-entry img {
  width: 250px;
  display: block;
  margin: .5em auto 0 auto;
  border-radius: 50%;
  border: 5px solid whitesmoke;
}

#education h3 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 1em 0 0 16px;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

#mapDiv h2 {
  text-transform: lowercase;
  font-size: 2em;
  padding-left: 16px;
  margin: 1em 0 0 0;
}

#lets-connect {
  background: #ece024;
  padding: 1em;
  margin-top: 2em;
}

#lets-connect h2 {
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .site-logo-name {
    font-size: 3.7em;
  }

  .site-logo-role {
    font-size: 1.5em;
  }

}

@media screen and (min-width: 550px) {

  .project-entry img {
    margin: .5em 0 0 0;
  }

}

@media screen and (min-width: 800px) {

  #header, #workExperience, #projects, #education, #mapDiv {
    width: 86%;
    margin: 0 auto;
    max-width: 900px
  }

  #header {
    margin: 0 auto;
    position: relative;
    height: 470px;
  }

  #header::after { /* Add full-width black background */
    content: "";
    background: black;
    display: block;
    height: 470px;
    position: absolute;
    top: 0;
    z-index: -1; /* Behind parent */
    width: 5000px;
    left: -1000px;
  }

  .site-logo-name, .site-logo-role, .welcome-message, #skills-h3, #skills li {
    text-align: left;
  }

  .site-logo-name {
    margin-left: -.5em;
  }

  #topContacts {
    margin: 0;
    width: 299px;
    padding: 2em 1em 1em 1em;
    position: absolute;
    top: 0;
  }

  .biopic {
    position: absolute;
    top: 470px;
  }

  #topContacts, .biopic {
    right: 0;
  }

  #topContacts li {
    width: 100%;
  }

  h2 {
    padding-left: 0;
    margin-left: 0;
  }

  #workExperience h2 {
    margin-left: -10px; /* Move header because of swoosh in 'w' */
  }

/* Reset a whole bunch of padding */
  .work-entry, .project-entry, .education-entry, #education h3, #mapDiv h2 {
      padding-left: 0;
  }

  #map {
    margin: 0;
  }

  #projects {
    display: flex;
    flex-wrap: wrap;
  }

  #projects h2{
    width: 100%;
  }

  .project-entry {
    width: 33.33333%;
    border-bottom: none;
    text-align: center;
  }

  .project-entry img {
    margin: .5em auto 0 auto;
  }

}
